@{
    ViewData["Title"] = "Kurs Ekle";
}
@model StudentUpdateViewModel

<br />
<br />
<br />
@using (Html.BeginForm("Update", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="form-group">
            <input type="text" name="FirstName" placeholder="Adı" value="@Model.FirstName" class="form-control" required />
        </div>
        <div class="form-group">
            <input type="text" name="LastName" placeholder="Soyadı" value="@Model.LastName" class="form-control" required />
        </div>
        <div class="form-group">
            <input type="datetime-local" name="BirthDate" value="@Model.BirthDate" class="form-control" required />
        </div>
        <div class="form-group">
            <select name="CourseId" class="form-control required" placeholder="Kurs İsmi">
                <option value="@Model.CourseId">@Model.CourseName</option>
                @foreach (var item in Model.Courses)
                {
                    <option value="@item.Id">@item.CourseName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="hidden" name="StudentId" value="@Model.StudentId" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Kaydet" />
        </div>
    </div>
}
